.routines {
    ion-label{
        white-space: normal;
    }
    .completed{
        background-color: $list-background-completed;
        //color:white;
    }
    p{
        color:black;   
    }
}
