.routines {
    ion-label{
        white-space: normal;
    }
    .completed{
        border-left:7px solid;
        border-color: #3D1E00;
        //color:white;
    }
    p{
        color:black;   
    }
}
